*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --site-blue-color: #5e72e4;
  --site-secondary-blue: #11cdef;
  --site-green-color: #2dce89;
  --site-theme-color: #f5365c;
  --site-orange-color: #fb6340;
  --site-secondary-orange-color: #ff3b30;
  --site-grey-color: #f4f5f7;
  --site-dark-color: #3d3d3d;
}

body {
  font-family: Lato, sans-serif;
}