.profile-page {
    max-width: 100% !important;
    height: 100% !important;
    position: relative;
  }
  
  .profile-page .card{
    padding: 7px 8px;
    border: none;
    position: relative;
  }
  
  .profile-page .weighted {
      font-weight: 700;
      font-size: 15px;
  }
  
  .profile-page .card .text-uppercase{
    text-transform: uppercase;
  }
  
  .profile-page .form-group {
    margin-bottom: .9rem;
  }
  
  .profile-page .form-warning {
    color: var(--site-secondary-orange-color);
    font-size: 13px;
    margin-top: 2px;
  }

  .profile-page .btn-warning {
    box-shadow: none !important;
  }
  
  .profile-page .input-Style {
    border: 1px solid var(--site-dark-color);
    border-radius: 0;
  }
  
  .profile-page .photo-uploaded-container{
    width: 180px;
    height: 180px;
    margin: 1px auto;

    img {
      height:100%;
    }
  }

  .profile-page .btn-change-photo{
    background-color: #fff;
    border: 1px solid var(--site-dark-color);
  }

  
  .profile-page .list-group {
    border: .3px solid var(--site-orange-color);
    border-radius: 3px;
    transition: all .6s;
    max-height: 140px;
    overflow-y: auto;
    position: absolute;
    width: 80%;
    z-index: 1;
  }
  
  .profile-page .list-group-item{
    font-size: 13px;
    transition: all .5s;
  }
  
  .profile-page .profile-page-image-container{
    position: fixed;
    bottom: 0;
  }
  
  .profile-page .list-group-item:hover{
    background-color: var(--site-orange-color);
    color: var(--site-grey-color);
    cursor: pointer;
  }

  .profile-page .picked-interest {
    margin-top: 9px;
  }

  .profile-page .picked-interest .remove-interest-span{
    margin-left: 10px;
  }
  
  .profile-page .picked-interest .remove-interest-span:hover{
    cursor: pointer;
  }
  
  .profile-page .no-display {
    display: none;
  }