.register-page-one {
    max-width: 100% !important;
    max-height: 100vh !important;
    background-image: url(../../images/divine-mingle-reg-page.jpg);
    background-color: rgba(0, 0, 0, 0.9) !important;
    background-size: cover !important;
    background-position: bottom !important;
    position: relative;
    padding: 71px 5px;
}
  
.register-cta .cta-heading{
    color: var(--site-grey-color);
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 600;
  }
  
  .register-cta .cta-heading span {
    color: var(--site-orange-color);
    font-weight: 600;
  }
  
  .register-cta .card{
    padding: 7px 5px;
    position: relative;
    margin-top: -5px;
  }
  
  .register-cta .card .form-info {
    margin-bottom: 15px;
  }
  
  .register-cta .card .form-warning{
    color: var(--site-secondary-orange-color);
    font-size: 13px;
    margin-top: 1px;
  }

.register-cta .card .form-group-margin{
  margin-bottom: 25px;
}

  .set-position{
    position: absolute;
    z-index: 1000;
  }
  
  .register-cta .card .centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .register-cta .card .login-details{
    font-size: 17px;
    margin-top: 77px;
  }
  
  .register-cta .input-style {
    border: 1px solid var(--site-dark-color);
    border-radius: 0;
  }
  
  .register-cta .card .login-details a:hover {
    color: var(--site-orange-color);
  }