
.updateProfile_call-to-action {
    color: var(site-dark-color);
    font-weight: 300;
    font-size: 20px;
}

.update-basic-info {
    margin-top: 15vh;

    label{
        font-weight: 700;
        font-size: 16px;
        color: var(--site-dark-color);
    }
}